<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Result</title>
  </head>
  <body>
    <h1><%= product.title %></h1>
    <img src="<%= product.thumbnail %>" alt="<%= product.title %>" />
    <p><%= product.price %></p>
    <p><%= product.description %></p>
    <p><%= product.discountPercentage %></p>
    <p><%= product.rating %></p>
    <p><%= product.brand %></p>
    <p><%= product.category %></p>
  </body>
</html>
